<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>

  <unity>
    <containers>
      <container name="container">
        <types>
          <type type="MileageStats.Web.Authentication.IFormsAuthentication, MileageStats.Web" mapTo="MileageStats.Web.Authentication.DefaultFormsAuthentication, MileageStats.Web">
          </type>
        </types>
      </container>
    </containers>
  </unity>

</configuration>